/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.obsidian-grid-tables-table {
    border-collapse: collapse;
}

.obsidian-grid-tables-cell {
    border: 1px solid #777;
    border-collapse: collapse;
    min-width: 200px;
    padding: 0.5em;
    vertical-align: top;
}